                
              <hr class="my-4">
              <%= link_to ('<i class="fab fa-github mr-2"></i> Sign in with Github').html_safe, new_user_path, class:"btn btn-lg btn-danger btn-block text-uppercase" %>
              <%= link_to ('<i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook').html_safe, new_user_path, class:"btn btn-lg btn-facebook btn-primary btn-block text-uppercase" %> 
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
