<%= link_to 'Sign in', signin_path, class:"d-block text-center mt-2 small"%>
                
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> 
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
