<%= render partial: 'partials/formheader'%>

<h1> Hello, <%= @user.name %></h1>

Click below to create a new Chart <br>
<hr>
<%= link_to "Create a new Chart", new_chart_path, class:"btn btn-success" %>
<%= render partial: 'partials/formsfooter'%>

