<table>
    <tr>
        <th>Meal type</th>
        <th>Name</th>
        <th>Note</th>
    </tr>
      <tr>
          <td><%= @meal.meal_type %></td>
          <td><%= @meal.meal_name %></td>
          <td><%= @meal.note%></td>
      </tr>
</table>
        