
        
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr class="table-danger">
        <th>Meal type</th>
        <th>Name</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-info">
        <td><%= @meal.meal_type %></td>
        <td><%= @meal.meal_name %></td>
        <td><%= @meal.note%></td>
      </tr>      
      
    </tbody>
  </table>
</div>