<div class="container">
    <h5>About Us</h5>
        <div class="row">
            <div class="column">
                <%= image_tag("food", style:"width:100%")%>
            </div>
            <div class="column">
                <%= image_tag("baby1.jpg", style:"width:100%")%>
            </div>
            <div class="column">
                <%= image_tag("food1", style:"width:100%")%>
            </div>
        </div>
</div>