<div class="container">
    <h5>About Us</h5>
    <pre class="pre-scrollable">
    <p>  Bites for Tikes app is built for busy parents, 
     
     who struggle to plan meals for their kids on an everyday basis. 
     
     This app will let you make a Chart for each day and plan breakfast, 
     
     lunch and dinner in advance. 
     
     This way you don’t have to rush each 
     
     morning to decide what you are going to make today? </p>

    <p>  Our purpose is to make each one of your lives a little easier and more organized.
     
     It's very easy to use. 
     
     You can simply sign up or sign in(if you already signed up) 
     
     and create a chart for a particular day then add meals for that day. 
     
     You can track all of your meals and charts you have created.</p>  
    </pre>
        <div class="row">
            <div class="column">
                <%= image_tag("food", style:"width:100%")%>
            </div>
            <div class="column">
                <%= image_tag("baby1.jpg", style:"width:100%")%>
            </div>
            <div class="column">
                <%= image_tag("food1", style:"width:100%")%>
            </div>
        </div>
</div>