<div class="field_with_errors", style="text-align:center; color:red;">
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <% if object && object.errors.any? %>
      <div id="error_explanation"> 
        <% object.errors.full_messages.each do |msg| %>
          <%= msg %>
          <br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
