    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto", style="color:red; text-align:center;">
      <% if flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>
    </div>
    <div class="container", style="color:green;">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>